#top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

#mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-height: 50%;
    border: 5px solid black;
}

#passwordForm {
    margin: 20px;
    min-width: 75%;
}

#passwordTitle {
    margin-bottom: 0px;
}

#passwordBox {
    margin-top: 0px;
    width: 100%;
}

#progressBar {
    min-width: 75%;
    display: none;
    margin: 20px;
}

#buttonsBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px;
}

.button {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    height: 75px;
    width: 25%;
}

#outputBox {
    display: none;
}

#downloadLink {
    display: none;
}

#bottom {
    width: 75%;
    margin: auto;
}

p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

.passwordError {
    position: relative;
    animation-name: passwordError;
    animation-duration: 200ms;
    animation-iteration-count: 5;
    border: 2px solid red;
    border-radius: 4px;
}

@keyframes passwordError {
    0% { left: 0px; }
    12% { left: 5px; }
    25% { left: 10px; }
    37% { left: 5px; }
    50% { left: 0px; }
    62% { right: 5px; }
    75% { right: 10px; }
    87% { right: 5px; }
    100% { left: 0px; }
}

.passwordErrorTitle {
    animation-name: passwordErrorTitle;
    animation-duration: 3s;
}

@keyframes passwordErrorTitle {
    20% { color: red; }
    80% { color: red; }
}
