#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

#mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-height: 50%;
    border: 5px solid black;
}

#passwordBox {
    min-width: 75%;
}

#progressBar {
    min-width: 75%;
}

#buttonsBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    height: 75px;
    width: 25%;
}

#downloadLink {
    display: none;
}

#bottom {
    width: 75%;
    margin: auto;
}

p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}
